 body {
    background-color: #ffffff;
      color: #333;
      font-family: 'Poppins', sans-serif;

 }
 .navbar {
    background-color: white;
    padding: 15px;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #000;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #007bff;
  }

  .intro-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 0; 
    animation: fadeIn 3s forwards;
  }

  .text-container {
    opacity: 0;
    animation: slideInLeft 3s forwards;
  }

  .img-container {
    opacity: 0;
    animation: slideInRight 3s forwards;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-primary:hover {
    background-color: #00918f;
  }

  .footer {
    text-align: center;
    padding: 20px 0;
    background-color: #00918f;
    color: #fff;
    position: relative;
  }

  @keyframes slideInLeft {
    0% { transform: translateX(-50%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }

  @keyframes slideInRight {
    0% { transform: translateX(50%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-25px); 
      }
      100% {
        transform: translateY(0);
      }
    }
    
    .img-container img {
      animation: float 3s ease-in-out infinite;
      margin-top: 20px; 
    }
    
    a:hover{
      color: grey;
      transition: 0.6s;
    }
 .btn-primary {
     background-color: #00918f;
     border: none;
 }

 ::-webkit-scrollbar {
     display: none;
 }



 .navbar {
     background-color: white;
     padding: 15px;
 }

 .navbar a {
     color: black;
 }

 .navbar-dark .navbar-nav .nav-link {
     color: #333;
 }

 .navbar-dark .navbar-nav .nav-link:hover {
     color: #007bff;
 }

 .btn-primary {
     background-color: #1d1d1d;
     border: none;
 }

 .btn-primary:hover {
     background-color: #00918f;
 }

 section {
     padding: 100px 0;
     position: relative;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .footer {
     text-align: center;
     padding: 20px 0;
     background-color: #f8f9fa;
     color: #333;
 }

 @media (max-width: 768px) {
     h1, h2, h3 {
         font-size: 1.8rem;
     }

     p {
         font-size: 1rem;
     }
 }

.skill-card {
    padding: 15px;
    border-radius: 15px; 
    height: 100%;
    max-width: 200px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: 0.3s;
  }
  
  .skill-card:hover{
    max-width: 250px;
  }

  .skill-image {
    height: 200px;
    width: 100%; 
    object-fit: contain; 
    border-radius: 15px 15px 0 0; 
  }
  
  p.card-text {
    font-size: 13px;
}
.card-title{
    color: #71b5e6;
    font-weight: 800;
}
  @media (max-width: 768px) {
    .skill-card {
      max-width: 100%; 
    }
  }
  